body {
  font: 100% "Outfit", serif;
  margin: 0;
}
body .banner-small-add {
  background-color: #E2001A;
  color: #FFF;
  font-size: 8pt;
  text-align: center;
  padding: 0.5rem;
}
body .banner-small-add a, body .banner-small-add a:visited, body .banner-small-add a:hover {
  color: #FFF;
}
body .main-banner .impacta-logo {
  float: left;
  padding: 1rem 2rem;
}
body .main-banner .impacta-logo img {
  height: 2rem;
}
body .main-banner .menu-top {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 0.25rem;
}
body .main-banner .menu-top ul li {
  padding: 0.25rem 0.5rem;
  display: inline;
  list-style: none;
  color: #E2001A;
  font-size: 1rem;
}
body .main-banner .menu-top ul li a, body .main-banner .menu-top ul li a:visited {
  color: #E2001A;
  text-decoration: none;
}
body .main-banner .menu-top ul li a:hover, body .main-banner .menu-top ul li a:visited:hover {
  opacity: 0.7;
  text-decoration: underline;
}
body .main-banner .menu-socials {
  float: right;
  padding: 1.5rem;
}
body .main-banner .menu-socials a, body .main-banner .menu-socials a:visited {
  color: #E2001A;
  text-decoration: none;
}
body .main-banner .menu-socials a:hover, body .main-banner .menu-socials a:visited:hover {
  opacity: 0.7;
}
body .main-banner .menu-socials a img, body .main-banner .menu-socials a:visited img {
  filter: invert(85%) sepia(243%) saturate(1576%) hue-rotate(-21deg) brightness(130%) contrast(100%);
  height: 1rem;
  margin-left: 0.75rem;
}
body .home-slider-wrapper {
  position: relative;
  margin: 0;
}
body .home-slider-wrapper .slide-card img {
  width: 100%;
}
body .home-slider-wrapper .slide-card .phrase-text {
  background-image: linear-gradient(to right, #E2001A, rgba(255, 0, 0, 0));
  padding-left: 2rem;
  position: absolute;
  bottom: 0;
  width: 40%;
  height: 98%;
  display: flex;
}
body .home-slider-wrapper .slide-card .phrase-text p {
  color: #FFF;
  font-size: 4.5rem;
  font-weight: bolder;
  line-height: 1;
  align-self: flex-end;
  margin-block-end: 1rem;
}
body .home-services {
  padding: 1rem 5rem 3rem 5rem;
  background-color: #F9F9F9;
  min-height: 10rem;
}
body .home-services .scroll-down-service {
  text-align: center;
  color: #E2001A;
  margin-bottom: 1rem;
}
body .home-services .service-card {
  margin: 1rem;
  width: 45%;
  padding: 0.25rem;
  border: 1px solid #DDD;
}
body .home-services .service-card.left-card {
  float: left;
}
body .home-services .service-card.right-card {
  float: right;
}
body .home-services .service-card .card-image {
  height: 13rem;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-radius: 0.25rem;
}
body .home-services .service-card .card-image .red-bg-wrapper {
  background-color: rgba(226, 0, 26, 0.5);
  height: 100%;
  position: relative;
  border-radius: 0.25rem;
}
body .home-services .service-card .card-image .red-bg-wrapper img {
  height: 11rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  filter: brightness(0) invert(1);
}
body .home-services .service-card .card-image .red-bg-wrapper .rounded-number-white {
  width: 2.5rem;
  height: 2.1rem;
  padding-top: 0.2rem;
  border-radius: 100%;
  background-color: #FFF;
  color: #E2001A;
  text-align: center;
  position: absolute;
  bottom: -1rem;
  left: 0;
  font-size: 120%;
  font-weight: bold;
}
body .home-services .service-card .card-image.image-card-one {
  background-image: url(public/img/services/advanced-technology.jpg);
}
body .home-services .service-card .card-image.image-card-two {
  background-image: url(public/img/services/competitive-setting.jpg);
}
body .home-services .service-card .card-image.image-card-three {
  background-image: url(public/img/services/abstract-background.jpg);
}
body .home-services .service-card .card-image.image-card-four {
  background-image: url(public/img/services/success-highlighted-with.jpg);
}

/*# sourceMappingURL=index-style.css.map */
